html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
body { background: #F3EFE0; font-size: 15px; line-height: 1.64; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
.colorh2h3 { font-weight: 300; color: #22A39F; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

p.lead { text-align: center; color: #727878; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }

element.style {
}
p.lead {
    text-align: center;
    color: #727878;
}
@media (min-width: 768px)
.lead {
    font-size: 21px;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
p {
    margin: 0 0 10px;
}
.bottomcontainer
{
  padding: 35px 0 15px;

    height: 100px;
}
.footer-link{
  text-decoration: none;
  margin:10px 20px 10px 20px;
}
hr {
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}





.project-referal { margin-top: 40px; }
.project-referal p { font-style: italic; color: #999999; }

.btn-primary { background-color: #22A39F; border-color: #1c8784; }
.btn-primary:hover { background-color: #1c8784;  border-color: #1c8784; }

.icon { display: inline-block; background: url(images/sm_icon_sprite.png) no-repeat; height: 32px; width: 32px; }
.icon.icon-twitter { background-position: 0px 0px; }
.icon.icon-linkedin { background-position: 0px -32px; }
.icon.icon-skype { background-position: 0px -64px; }
.icon.icon-email { background-position: 0px -96px; }
#contact a .icon {
    float: left;
    margin-right: 20px;
}
#contact h2, #contact .row * {
    color: #FFFFFF;
}

element.style {
}

#contact a {
    display: block;
    line-height: 32px;
    margin-bottom: 20px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.jumbotron{

    background: no-repeat center right fixed url(images/grungeroom.jpg);
    background-image: url(images/grungeroom.jpg);
    background-position-x: right;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;

    background-size: cover;
    margin-bottom: 0px;
    padding: 0px;

}

.h2, h2 {
    font-size: 30px;
}
/* .jumbotron:before {
	border: 1px solid #FFFFFF;
	bottom: 30px;
	content: "";
	left: 30px;
	position: absolute;
	right: 30px;
	top: 30px;
} */

#experiences.overlay {  background-color: #22A39F;position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0.75; filter:alpha(opacity=75); z-index: 2; }

.jumbotron .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.jumbotron .container > * { text-align: center; color: #FFFFFF; }
.jumbotron .container h1 { padding-bottom: 20px; border-bottom: 1px solid #FFFFFF; border-bottom-color: rgba(255,255,255,0.35); display: inline-block; }
.jumbotron .container .lead { font-size: 28px; }
.jumbotron .scroll-down { height: 80px; width: 110px; display: block; position: absolute; bottom: 0px; right: 5%; background-color: #222222; text-align: center; z-index: 6; }
.jumbotron .scroll-down .glyphicon {
	color: #FFFFFF;
	font-size: 30px;
	padding-right: 2px;
	padding-top: 20px;

	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.jumbotron .scroll-down:hover .glyphicon { padding-top: 25px; }
.glyphicon-chevron-down:before {
    content: "\e114";
}
/* .navclass .nav li a:hover{
  color: green
} */


.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* .navbar.navbar-nav li a {
  color:white
} */

/* .navclass{
  background-image: url(images/grungeroom.jpg)
  height:500px;
  border:0px
}
.navbar{
  background-color: transparent !important
} */
.background-jjsd{
  background-color: #50555c
}
/* .navbar .navbar-header .navbar-brand{
  color:white
}
.navbar .nav{
  color:white
}
.navbar .navbar-inverse {

    border-color:#ffffff ;
}
 .navbar-inverse {
    border-color: ;
} */


.background-white { background: #FFFFFF; }
.background-gray { background: #22A39F; }
.container { max-width: 1280px; padding: 10px 180px; }

#profile .row > div { margin-bottom: 40px; }
#profile .row > div img { width: 100%; max-width: 246px; height: auto; }
.midcon{
  background: #ffecc7
}
#experiences .experience { margin-bottom: 20px; }
#experiences .experience p > strong { display: block; padding-top: 8px; margin-bottom: 10px; }
#experiences .experience .experience-details { display: block; margin-top: 6px; }
#experiences .experience .experience-details * { color: #22A39F; }
#experiences .experience .experience-details .seperator { color: #BCBCBC; }
#experiences .container{padding:0}
#abilities ul > li { min-height: 30px; padding: 3px 0px; }
#abilities ul > li:hover { background: #F2F2F2; }
#abilities ul > li .ability-title { display: inline-block; width: 60%; }
#abilities ul > li .ability-score { float: right; }
#abilities ul > li .ability-score .glyphicon {
	color: #DFE0E0;
	font-size: 14px;

	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.entypo{
  position: absolute !important;
  top: 30% !important;
  right: 0;
}

#abilities ul > li .ability-score .glyphicon.filled { color: #22A39F; }

#abilities ul > li:hover .ability-score .glyphicon { margin-left: 2px; }

#interests .left { float: left; }
#interests .right { float: right; }
#interests img { width: 80%; height: auto; }
#interests .right img { float: right; }
#interests .interest-content { padding: 40px 0px; }

#interests .row:hover .left img {
	-webkit-transform: rotate(-12deg);
	-moz-transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	-o-transform: rotate(-12deg);
}

#interests .row:hover .right img {
	-webkit-transform: rotate(12deg);
	-moz-transform: rotate(12deg);
	-ms-transform: rotate(12deg);
	-o-transform: rotate(12deg);
}

/* a:hover{
  background-color: green
} */
.row {
    margin-right: -15px;
    margin-left: -15px;
}
#contact {
    padding-bottom: 200px;
}
.container {
    max-width: 1280px;
    padding: 40px 180px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1200px) {
	#interests .interest-content { padding: 20px 0px; }
}

@media (max-width: 767px) {
	.jumbotron:before {
		bottom: 100px;
		left: 20px;
		right: 20px;
		top: 20px;
    content:" "
	}
	.jumbotron .container { top: 20%; padding-top: 0px; }
	.jumbotron .scroll-down { width: 100%; right: 0px; }







  a:-webkit-any-link {
      /* color: -webkit-link; */
      cursor: pointer;
      /* text-decoration: underline; */
  }

  li {
      /* text-align: -webkit-match-parent; */
  }



	/* .fixed .navbar { top: 0px; } */

	.container { padding: 60px 20px; min-width: 280px; }
	.hidden-phone { display: none; }

	#profile .row * { text-align: center; }

	#experiences .experience .experience-details > span { display: block; margin-bottom: 6px; }
	#experiences .experience .experience-details .seperator { display: none; }

	#interests .left { float: none; }
	#interests .right { float: none; }

	#interests > * { text-align: center; }
	#interests img { width: 50%; height: auto; float: none !important; }
	#interests .interest-content { padding: 20px 0px; }

	#contact { padding-bottom: 60px; }

	#contact a .icon { float: left; margin-right: 10px; }
}

@media only screen and (orientation: portrait) and (max-width: 767px)  {
    .jumbotron {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)  {

    .jumbotron {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }

	.jumbotron .lead { display: none; }
}

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}


/*---------------*/
/***** EFFECT *****/
/*---------------*/


.fixed .navbar {
    position: fixed;
    top: 60px;
}
.navbar {
    border: 0px;
    background-color: #222222;
    position: absolute;
    top: 100%;
  left:-2%;
    width: 110px;
    z-index: 999;
}
.opl {
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 99999;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
@media (min-width: 768px){
.navbar {
    border-radius: 0px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
nav {
    display: block;
}




}


@media (min-width: 768px)
.navbar-header {
    float: left;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}




.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}


.navbar-default .navbar-toggle {
    border-color: #ddd;
}
@media (min-width: 768px)
.navbar-toggle {
    display: none;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 0px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}




.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



user agent stylesheet



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: #22A39F; color: #FFFFFF; }
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



user agent stylesheet


.navbar .navbar-collapse {
    padding: 0px;
    max-height: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
@media (min-width: 768px)
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
@media (min-width: 768px)
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.collapse {
    display: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar .navbar-nav {
    float: none;
}
.navbar-nav {
    margin: 0px;
}
@media (min-width: 768px)
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-nav {
    margin: 7.5px -15px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
/* ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

.navbar .nav > li {
    display: block;
    float: none;
    height: 80px;
}
@media (min-width: 768px)
.navbar-nav>li {
    float: left;
}
.nav>li {
    position: relative;
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
user agent stylesheet




ul.nav li a:hover { background-color: #22A39F;color:green!important; }
/* ul.nav li  a{
  background-color: black
} */
